.capture__container {
  background-color: darkcyan;

  #video {
    background-color: #000000;
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    font-size: 30px;
    color: white;
    text-align: left;
    width: 140px;
  }

  .loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 1100ms infinite;
    animation: ellipsis steps(4, end) 1100ms infinite;
    content: "..."; /* ascii code for the ellipsis character */
    width: 0px;
  }

  @keyframes ellipsis {
    to {
      width: 1.2em;
    }
  }

  @-webkit-keyframes ellipsis {
    to {
      width: 1.2em;
    }
  }

  #canvas {
    display: none;
  }

  .select_devices {
    margin-bottom: 10px;
  }

  img.picture {
    margin-top: 10px;
  }

  .mode_local {
    margin-bottom: 10px;
  }

  .go_button {
    width: 140px;

    mat-progress-spinner {
      margin: 0 auto;
    }
  }
}