/*
================
    Header
================
*/
.root__container {
	width: 100%;
  align-items: center;
  flex-flow: column;
  transition: background 300ms linear;
  background-image: linear-gradient(to top, #5ee7df 0%, #66a6ff 100%);
}

.root__container-dark {
  /*background: linear-gradient(to top, #30cfd0 0%, #330867 100%);*/
  background: linear-gradient(to bottom, #372865, #000000);
}

.main__header {
  background-color: #fff;
  display: flex;
	justify-content: space-between;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
	padding: 0 20px;
  height: 6vh;
  align-items: center;
  animation: slidedown 0.5s ease-in-out, fadein 1s ease-in-out;
}

.main__header-dark {
  background-color: #2B244D;
  color: white;
}

.left__section {
  .logo__icon {
		height: 3rem;
	}
}

.date__text {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/*
================
    Body
================
*/
.main-container__bg {
  height: 94vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Query:   LT-MD   */
@media screen and (max-width: 959px) {
  .main__header {
    // TODO...
  }

  .left__section {
    // TODO..
  }

  .logo__icon {
    // TODO...
  }

}



