.root__container {
	background-color: antiquewhite;

	/*
	================
			Header
	================
	*/
	.main__header {
		background-color: #fff;
		position: relative;
		display: flex;
		justify-content: space-between;
		box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
		padding: 10px 20px;
		height: 60px;
		align-items: center;
		animation: slidedown 0.5s ease-in-out, fadein 1s ease-in-out;

		.left__section {
			svg, img {
				width: 50px;
				display: block;
			}
		}
	}

}
