.screensaver__container {
  width: 100%;
  height: 100vh;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
  50% {
    transform: rotate(180deg);
    border-top-color: rgba(0, 0, 255, 0.5);
  }
  100% {
    transform: rotate(360deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
}
.screensaver__container * {
  box-sizing: border-box;
}
.screensaver__container .loader-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
.screensaver__container .loader {
  align-self: center;
  width: 150px;
  height: 150px;
}
.screensaver__container .loader div {
  height: 100%;
}
.screensaver__container .loader1,
.screensaver__container .loader1 div {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  animation: rotate linear 3.5s infinite;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 255, 0.5);
}
.screensaver__container .loader2,
.screensaver__container .loader2 div {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  animation: rotate linear 3.5s infinite;
  border-top-color: rgba(0, 0, 255, 0.5);
  border-left-color: rgba(0, 0, 0, 0.5);
  border-right-color: rgba(0, 0, 0, 0.5);
}
.screensaver__container .loader3,
.screensaver__container .loader3 div {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  animation: rotate linear 3.5s infinite;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-left-color: rgba(0, 0, 255, 0.5);
  animation-timing-function: cubic-bezier(0.55, 0.38, 0.21, 0.88);
  animation-duration: 3s;
}
.screensaver__container .loader4,
.screensaver__container .loader4 div {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  animation: rotate linear 3.5s infinite;
  border-radius: 50%;
  padding: 4px;
  animation: rotate2 4s infinite linear;
}
.screensaver__container div:hover {
  animation-play-state: paused;
}
.screensaver__container .loader,
.screensaver__container .loader * {
  will-change: transform;
}
.screensaver__container .screen-saver {
  width: 100%;
  height: 100vh;
  background: url("../../../assets/images/screen-saver.png") no-repeat;
  background-size: cover;
}
